#botonAtaque {
    -fx-border-width: 5px;
    -fx-border-color: #FF00009B;
}

Button {
    -fx-background-color: #FFFFFF00;
}

#botonCelda:hover {
    -fx-border-width: 5px;
    -fx-border-color: #5000009E;
}

#botonCelda:disabled {
    -fx-border-width: 5px;
    -fx-border-color: #000000;
}