Button {
    -fx-background-color: #FFFFFF00;
}

Button:hover {
    -fx-border-width: 5px;
    -fx-border-color: #5000009E;
}

Button:disabled {
    -fx-border-width: 5px;
    -fx-border-color: #000000;
}