Button {
    -fx-background-color: #FFFFFF00;
}

#botonAtaque {
    -fx-border-width: 5px;
    -fx-border-color: #ff0000;
}

#botonAtaque:disabled {
    -fx-border-color: #FFFFFF00;
}

#botonCelda:hover {
    -fx-border-width: 5px;
    -fx-border-color: #5000009E;
}

#botonCelda:disabled {
    -fx-border-width: 5px;
    -fx-border-color: #000000;
}