#vBoxMenuInterno {
    -fx-alignment: center;
}

Button {
    -fx-padding: 10;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-background-color: black;
    -fx-color: -fx-focused-base;
    -fx-opacity: 35%;
}

Button:disabled {
    -fx-padding: 10;
    -fx-background-color: #2b2828;
    -fx-color: -fx-focused-base;
    -fx-opacity: 50%;
}

